/* FOOTER */

.footer {
    position: fixed;
    bottom: 2vh;
    right: 3vh;
    border: 1px solid black;
    border-radius: 3px;
    padding: 3px;
}

/* HEADER */

/* CREATE */

/* INDEX */

/* SHOW */

/* UPDATE */

